$font-stack: Helvetica, sans-serif;
$primary-color: #1c1c1c;
$secondary-color: #2a2a2a;
$hover-color: #373737;
$font-color: #ffffff;

@mixin themed-block($pd_x, $pd_y, $mg_x, $mg_y ) {
  background-color: $hover-color;
  border-color: $hover-color;
  color: $font-color;
  padding: $pd_x $pd_y;
  margin: $mg_x $mg_y;
}

@mixin app-todo-bg {
  background-color: $secondary-color;
  padding: 20px;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-stack;
  background-color: $primary-color;
  color: $font-color;
}

.flex-container {
  display: flex;
  gap: 15px;
  flex-direction: column;
  margin: 30px;
  width: auto;
}

app-todo {
  @include app-todo-bg;
  margin-bottom: 20px;
}

app-todo-item {
  @include app-todo-bg;
}

.checkboxes {
  @include size(30px, 30px);
  accent-color: $primary-color;
}

.deleteTodo {
  background-image: url("shared/assets/icontrash.png");
  background-color: $secondary-color;
  background-size: cover;
  border: none;
  @include size(35px, 35px);
}

app-todo-item div {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  align-items: center;
}

app-todo input {
  @include themed-block(0px, 10px, 0px, 10px);
}

app-todo button {
  @include themed-block(0px, 15px, 5px, 10px);
}